 <div class="row">
        
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">Departments</h4> 
                <p class="category">All your companies departments</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Department Name</th>
                        <th>Department Description</th>
                        <th></th>
                        <th></th>
			<th></th>
                    </thead>
                    <tbody>
                        <%  @departments.each do |department| %>
                        <tr>
                            <td><%= department.name%></td>
                            <td><%= department.description%></td>
                            <td><%= link_to "View Teams" , department_teams_path(department.id ), class: "btn btn-primary btn-round" %></td>
                            <td><%= link_to "New Team" , new_department_team_path(department.id), class:"btn btn-primary btn-round" %></td>
                        </tr>
                        <% end %>
                        
                    </tbody>
                </table>
            </div>
             <a href="/departments/new" class="btn btn-primary btn-round ">New Department</a>
            
        </div>
    </div>
</div>
~                   

