 <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="green">
                                    <h4 class="title">Clock Out's</h4>
                                    <p class="category">Team Leader Or Admin clock in employee</p>
                                </div>
                                <div class="card-content">
                                  
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input type=text class=qrcode-text>
                                               <label class=qrcode-text-btn>
                                                   
                                                  <input type=file
                                                         accept="image/*"
                                                         capture=environment
                                                         onclick="return showQRIntro();"
                                                         onchange=" openQRCameraClockOut(this);"
                                                         tabindex=-1
                                                         >
                                                </label>
                                            </div>
                                           
                                            
                                        
                                       
                                       
                                        <div class="clearfix"></div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
